
/* paragraph */
p{
  line-height:2;
  font-size: 1rem;
}

/* button */
.btn {
  box-shadow: none !important;
}

.btn-main{
  color: white !important;
  border: none !important;
  background-color: #e7388f !important;
  font-size: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 50px;
}

.btn-main:hover{
  background-color: #c5307b !important;
}